body {
	font: 12px/18px sans-serif;
	margin: 0;
	height: 92%;
}

div#editor {
	padding: 0 9px 0 9px;
}

body#tinymce {
	padding: 9px 9px 0 9px;
}

.busy {
	background-image: url(/Bxs/app/img/loading_16_grey.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.busy * {
	opacity: 0;
}